<h1 class="top-header">HƯỚNG DẪN ĐẶT HÀNG</h1>
<img class="guide-img" src="assets/img/guide/hdmh.png" alt="">
<ol>
  <li class="title">
    Đặt Hàng Qua Điện Thoại:
    <p class="paragraph">
      Quý khách vui lòng gọi qua số <a class="red-highlight" href="tel:0822088079">0822.088.079</a> để được tư vấn sản phẩm và đặt hàng. Thời gian nhận đơn hàng qua Hotline từ 07h00- 22h00 tất cả những ngày trong tuần.
    </p>
  </li>
  <li class="title">
    Đặt hàng qua website:
    <ul class="margin-level guide-ul">
      <li class="second-title">
        Bước 1: <p class="paragraph inline-p">Tìm kiếm sản phẩm trong ô tìm kiếm hoặc lựa chọn sản phẩm bạn muốn mua trong danh mục sản phẩm tại webiste <a class="link-hightline" href="https:\\www.trumbien.com">https:\\www.trumbien.com</a></p>
        <img class="guide-img" src="assets/img/guide/SelectProduct.png" alt="">
      </li>
      <li class="second-title">
        Bước 2: <p class="paragraph inline-p">Chọn 'Thêm Vào Giỏ'</p>
        <img class="guide-img" src="assets/img/guide/AddCart.png" alt="">
      </li>
      <li class="second-title">
        Bước 3: <p>Đợi hệ thống thêm vào giỏ thành công:</p>
        <img class="guide-img" src="assets/img/guide/AddCartSuccess.png" alt="">
      </li>
      <li class="second-title">
        Bước 4: <p>Kiểm tra giỏ hàng:</p>
        <img class="guide-img" src="assets/img/guide/CheckShopCart.png" alt="">
      </li>
      <li class="second-title">
        Bước 5: <p>Tiến hành đặt hàng:</p>
        <img class="guide-img" src="assets/img/guide/CreateOrder.png" alt="">
      </li>
      <li class="second-title">
        Bước 6: <p>Hoàng Thành đơn đặt hàng:</p>
        <img class="guide-img" src="assets/img/guide/CreateOrderSuccess.png" alt="">
      </li>
    </ul>
  </li>
</ol>
