.carousel{
  position: relative;
  .carousel-container{
    width: 100%;
    height: 50rem;
    background-color: black;
    position: relative;
    overflow: hidden;
    .carousel-content{
      position: relative;
      height: 100%;
      .carousel-item{
        position: absolute;
        height: 0;
        left: 0;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: blanchedalmond;
        color: black;
        font-size: 4rem;
        transition: none;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
      }
    }
    .carousel-content-transform{
      transition: left .2s ease-in;
    }
    .index-container{
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      margin: 0 auto 1rem;
      .carousel-index{
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        background-color: rgba(0,0,0,0);
        border-radius: 50%;
        border: 0.1rem solid #fff;
      }
      .index-active{
        background-color: #fff;
      }
      .index-hide{
        display: none;
      }
    }
  }

  .control-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 3rem;
    opacity: 0.6;
    &:hover{
      opacity: 0.8;
    }
  }
  .pre-icon{
    left: 0;
  }
  .next-icon{
    right: 0;
  }
  .icon-size {
    font-size: 4rem;
    font-weight: 100;
    cursor: pointer;
    color: rgb(202, 200, 200);
    @media only screen and (max-width: 576px) {
      font-size: 3rem;
    }
  }
}
