<div class="carousel">
  <div #container class="carousel-container" (mousemove)="mouseMove($event, container)"
    [class.container-with-galery]="GalleryMode" (mousedown)="mouseDown($event, container)"
    (mouseup)="mouseUp($event, container)" (mouseleave)="mouseUp($event, container)"
    (touchstart)="touchStart($event, container)" (touchmove)="touchMove($event, container)"
    (touchend)="touchEnd($event, container)" (touchcancel)="touchEnd($event, container)">
    <div class="carousel-content" [style.width]="'100%'" [class.carousel-content-transform]="enableTransform"
      [style.left]="transform | carouselContentLeft: currentIndex:listItem.length">
      <div *ngFor="let item of listItem;index as i" class="carousel-item" [style.left]="i+'00%'">
        <img [src]="item.content" alt="" draggable="false">
      </div>
    </div>
  </div>
  <ul class="index-container" [class.index-gallery-position]="GalleryMode">
    <li *ngFor="let item of listItem;index as i" (click)='goTo(i)' role="presentation"
      [class.index-hide]="listItem.length <= 1?false:(i === 0 || i === listItem.length - 1?true:false)"
      id="{{getItemName(i)}}">
      <span *ngIf='!GalleryMode' class="carousel-index" [class.index-active]="isActive(i)"></span>
      <img class="img-preview" *ngIf='GalleryMode' [src]="item.content" [class.img-active]="isActive(i)" alt="">
    </li>
  </ul>
  <fa-icon *ngIf="!GalleryMode" class="control-nav icon-size pre-icon"
    [icon]="faLeft" (click)="goPre()"></fa-icon>
  <fa-icon *ngIf="!GalleryMode" class="control-nav icon-size next-icon"
    [icon]="faRight" (click)="goNext()"></fa-icon>
</div>
