.carousel-container{
  width: 100%;
  height: 50rem;
  background-color: black;
  position: relative;
  overflow: hidden;
  .carousel-item{
    display: block;
    top: 0;
    left: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    color: black;
    font-size: 4rem;
    transition: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  .carousel-item-active{
    left: 0;
  }
  .carousel-item-transform{
    transition: left .2s ease-in;
  }
}
