<h1 class="top-header">CHÍNH SÁCH DỔI TRẢ</h1>

<div [innerHTML]='productReturnDetail'></div>
<!--
<p class="paragraph">
  <span class="main-hightline">Kính thưa Quý Khách hàng,</span><br>
  <span class="main-hightline">{{storeName}}</span> luôn mong muốn cung cấp các sản phẩm với chất lượng cao nhất cho
  khách hàng. Tuy nhiên vì một số lí do, vận chuyển, đóng gói hoặc kiểm kê nên đôi lúc sẽ có sự không đồng nhất
  về chất lượng.<br>
  <span class="main-hightline">Chúng tôi CAM KẾT <span class="red-highlight">1 ĐỔI 1</span> TẬN NHÀ KHÁCH HÀNG TRONG
    VÒNG 2H NẾU SẢN PHẨM KHÔNG ĐẠT TIÊU CHUẨN.</span><br>
  Các trường hợp khiếu nại và phương án giải quyết khiếu nại cho khách hàng như sau:
</p>

<ol class="margin-level next-separate">
  <li class="title small-gap-line">
    Sản phẩm hư hỏng hoặc hêt hạng sử dụng: <p class="paragraph inline-p">Quý khách vui lòng chụp hình, quay phim
      sản phẩm khi Quý Khách cho rằng sản phẩm bị hư hỏng để được áp dụng đổi trả.
      Nếu đây chúng tôi phát hiện sai chúng tôi sẽ đổi sản phẩm mới tận nhà quý khách trong vòng 2h.</p>
  </li>
  <li class="title small-gap-line">
    Sản phẩm có mùi hôi: <p class="paragraph inline-p">Quý Khách cần ngừng sử dụng, chụp hình, quay phim sản phẩm, gửi
      phản hồi càng sớm càng tốt; vui lòng giữ lại sản phẩm, chúng tôi sẽ đổi hàng mới cho khách.</p>
  </li>
  <li class="title small-gap-line">
    Sản phẩm có dị vật lạ: <p class="paragraph inline-p">Quý khách cần ngừng sử dụng, chụp hình, quay phim sản phẩm, gửi
      phản hồi càng sớm càng tốt. Cửa hàng cam kết tiếp nhận và trả lời thông tin nhanh nhất có thể.</p>
  </li>
</ol>

<p class="paragraph next-separate">
  <span class="main-hightline">* Điều kiện tiếp nhận khiếu nại:</span>
</p>

<ul class="margin-level guide-ul next-separate">
  <li class="title small-gap-line">
    <p class="paragraph inline-p">Khách hàng vui lòng cung cấp hoá đơn và thông tin về sản phẩm và số lượng cần đổi cho
      nhân viên.</p>
  </li>
  <li class="title small-gap-line">
    <p class="paragraph inline-p">Chúng tôi sẽ áp dụng 1 đổi 1 trong điều kiện Quý Khách chưa sử dụng sản phẩm. Nếu Quý
      Khách đã sử dụng sản phẩm, chúng tôi xin phép tiếp nhận ý kiến của Quý Khách và gửi tặng Quý Khách phiếu ưu đãi
      cho lần mua hàng sau.</p>
  </li>
  <li class="title small-gap-line">
    <p class="paragraph inline-p">Khiếu nại được áp dụng trong vòng 12 tiếng kể từ lúc Quý Khách nhận hàng; quá 12 tiếng
      kể từ khi Quý khách nhận hàng chúng tôi xin từ chối giải quyết.</p>
  </li>
</ul> -->