<main class="main-container">
  <section class="product-detail-content">
    <div class="main-content">
      <div class="sub-content subleft">
        <div [class.gallery-full-screen]="fullscreenMode" (click)="hidePopUp($event)" id="parent-full-screen">
          <div class="parent-container center">
            <div class="galary-aspect-ratio">
              <app-carousel-padding [GalleryMode]="true" (clickAtItem)="clickAt($event)"></app-carousel-padding>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-content subright">
        <section *ngIf="productReady">
          <h1 class="product-name">{{title}}</h1>
          <div class="unit-selection">
            <h1 class="unit-title">Đơn Vị:</h1>
            <div class="unit-select drop-down-icon">
              <select (change)='changeUnit(filter.value)' #filter class="select">
                <option *ngFor="let item of listUnit; let i = index;" [value]="item.beer_unit_second_id" [selected]="i === currentUnitIndex">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="price-container">
            <span class="discount-price">{{price | moneyFormat}}</span>
            <span class="real-price" *ngIf="discount>0">{{realPrice | moneyFormat}}</span>
            <span class="unit-discount" *ngIf="discount>0">{{discount}}</span>
          </div>
          <form class="add-package-container" [ngClass]="{'sold_out' : sold_out}">
            <div class="product-number-container">
              <label for="" class="product-count-title">Số Lượng:</label>
              <span class="action-btn" (click)="changeNumberSell(false)">-</span>
              <input type="number" #productNum class="product-number" [value]="productCount"
                (keyup)="onChangeNumber(productNum.value)">
              <span class="action-btn" (click)="changeNumberSell(true)">+</span>
            </div>
            <a class="add-to-package" (click)="addToPackage(false)"></a>
            <a class="buy-now full-grid" (click)="buyNow()"></a>
          </form>
        </section>
      </div>
    </div>
  </section>
  <section class="product-detail-content">
    <div class="main-content small-gap">
      <h1 class="product-detail-title full-grid">Chi Tiết Sản Phẩm</h1>
      <div class="product-detail full-grid" [innerHTML]='productDetail'></div>
      <div class="diver full-grid"></div>
      <app-list-product class="full-grid" [listProduct]="listProduct" [searchMode]="false"
        [mainTitle]="'Sản Phẩm Liên Quan'"></app-list-product>
      <div class="diver full-grid"></div>
    </div>
  </section>
</main>
