.product-detail-content {
  .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "subleft"
      "subright";
    gap: 1rem;
    margin: 3rem auto 3rem;
    width: 100%;
    @media only screen and (min-width: 890px) {
      grid-template-columns: 1fr 1.3fr;
      grid-template-areas: "subleft subright";
    }

    @media only screen and (min-width: 991px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "subleft subright";
    }

    @media only screen and (min-width: 1200px) {
      grid-template-columns: 1.2fr 1fr;
      grid-template-areas: "subleft subright";
    }

    @media only screen and (min-width: 1800px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "subleft subright";
    }

    .full-grid {
      grid-column: 1 / -1;
    }

    .expand-container {
      position: absolute;
      display: none;
      bottom: 0;
      left: 0;
      width: 100%;
      background-image: linear-gradient(rgba(255, 255, 255, 0), white);
      padding-top: 1rem;
      .expand-btn {
        display: block;
        margin: 0 auto;
        width: fit-content;
        border: 1.5px solid var(--main-color);
        color: var(--main-color);
        border-radius: 2rem;
        padding: 0.8rem 2rem;
        font-size: 1.6rem;
        &::after {
          content: "Xem Thêm";
        }
      }
    }

    .subleft {
      grid-area: subleft;

      .gallery-full-screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        background-color: rgba(54, 54, 54, 0.815);

        .parent-container {
          width: min(100%, calc(100vh / var(--height-aspecratio-mean)));
          margin: 0 auto;
          padding: 1rem;

          &.center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .galary-aspect-ratio {
        width: 100%;
        height: 0;
        padding-top: var(--height-aspecratio);
        position: relative;
      }
    }
    .subright {
      grid-area: subright;
    }
    .sub-content {
      position: relative;
      padding: 1rem 1rem;
      section {
        .product-name {
          text-transform: uppercase;
          font-size: 2.8rem;
          font-weight: 420;
          line-height: 5rem;
          margin-top: -1rem;
          &::after {
            display: block;
            content: "";
            margin-top: 1rem;
            margin-right: 0.5rem;
            width: 10rem;
            border: 0.1rem solid rgb(190, 190, 190);
            border-top: 0;
            border-left: 0;
            border-right: 0;
          }
        }
        .unit-selection {
          margin-top: 2rem;
          gap: 2rem;
          .unit-title {
            font-size: 1.8rem;
            font-weight: 400;
            display: inline-block;
          }
          .unit-select {
            position: relative;
            display: inline-block;
            margin-right: 1rem;
            margin-left: 1rem;

            --drop-color: black;
            .select {
              width: max-content;
              min-width: 17rem;
              height: 100%;
              min-height: 3.5rem;
              font-size: 1.5rem;
              outline: none;

              border: 0.1rem solid #0e1c22;
              padding: 1.2rem 1.6rem;
              color: #0e1c22;
              font-size: 1.6rem;
              -moz-appearance: none; /* Firefox */
              -webkit-appearance: none; /* Safari and Chrome */
              appearance: none;
              background: none;
              box-shadow: none;
              border-radius: 0;
            }
          }
        }
        .price-container {
          margin-top: 2rem;
          padding: 2.5rem;
          display: inline-block;
          background-color: rgb(238, 238, 238, 0.4);
          border-radius: 0.8rem;
          .discount-price {
            font-size: clamp(1.8rem, 2.8vw, 2.3rem);
            font-weight: 450;
          }
          .real-price {
            font-size: clamp(1.4rem, 2.5vw, 1.8rem);
            text-decoration: line-through;
            margin-left: 2rem;
          }
          .unit-discount {
            font-size: clamp(1.4rem, 2.5vw, 1.8rem);
            margin-left: 2rem;
            &::before {
              content: "-";
            }
            &::after {
              content: "%";
            }
          }
        }
        .add-package-container {
          margin-top: 2rem;
          gap: 1rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          &.sold_out {
            pointer-events: none;
            .buy-now,
            .add-to-package {
              color: red;
              &::after {
                content: "Hết Hàng";
              }
            }
          }
          .product-number-container {
            display: flex;
            align-items: center;
            .product-count-title {
              font-size: 1.4rem;
              color: rgba(32, 32, 32, 0.74);
              margin-right: 2rem;
            }
            .action-btn {
              cursor: pointer;
              font-size: 1.6rem;
              border: 0.1rem solid rgba(163, 163, 163, 0.767);
              border-radius: 0.3rem;
              padding: 0.3rem 1rem;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              &:hover {
                background-color: rgba(129, 126, 126, 0.61);
                color: white;
              }
            }
            .product-number {
              width: 5rem;
              border: none;
              outline: none;
              font-size: 2.4rem;
              text-align: center;
              -moz-appearance: textfield;
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }
          .add-to-package {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            font-size: 1.5rem;
            border: 0.2rem solid black;
            text-align: center;
            padding: 0.7rem;
            border-radius: 0.2rem;
            &::after {
              content: "Thêm Vào Giỏ";
            }
          }
          .buy-now {
            margin-top: 1rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            font-size: 1.5rem;
            background-color: black;
            text-align: center;
            padding: 1rem;
            border-radius: 0.2rem;
            color: white;
            &::after {
              content: "Mua Ngay";
            }
          }
        }
      }
    }

    .product-detail-title {
      font-size: 1.8rem;
      padding: 1rem;
      &::after {
        height: 0.1rem;
        background-color: rgba(67, 147, 184, 0.678);
        width: 100%;
        display: block;
        content: "";
      }
    }

    .product-detail {
      position: relative;
      padding: 1rem;
      font-size: 1.7rem;
      display: inline-block;
      margin: 0 1.5rem;

      &.enable-expand {
        max-height: 400px;
        overflow: hidden;
        padding-bottom: 6rem;
        &.colapse-btn {
          max-height: unset;
          .expand-container {
            display: unset;
            .expand-btn {
              &::after {
                content: "Thu Gọn";
              }
            }
          }
        }
        .expand-container {
          display: unset;
        }
      }
    }
    .diver {
      height: 0.1rem;
      background-color: rgba(67, 147, 184, 0.678);
      width: 100%;
    }
  }

  @media only screen and (min-width: 576px) {
    .main-content {
      max-width: 540px;
    }
  }
  @media only screen and (min-width: 768px) {
    .main-content {
      max-width: 720px;
      .product-detail-title {
        font-size: 2.4rem;
      }

      .product-detail {
        margin: 0 1.5rem;
      }
    }
  }
  @media only screen and (min-width: 992px) {
    .main-content {
      max-width: 960px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .main-content {
      max-width: 1140px;
      gap: 4rem;
    }
  }
  @media only screen and (min-width: 1800px) {
    .main-content {
      max-width: 1438px;
      gap: 10rem;
    }
  }
  .small-gap {
    gap: 3rem;
  }
}

.add-package-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(65, 65, 65, 0.226);
  visibility: hidden;
  .add-cart-preview-container {
    padding: 2rem;
    width: 45rem;
    background-color: white;
    border-radius: 0.3rem;
    position: absolute;
    right: -100%;
    top: 10rem;
    transition: right 0.5s ease-in;
    header {
      .main-thank {
        font-size: 1.7rem;
      }
      .sub-thank {
        font-size: 1.5rem;
        color: rgba(21, 158, 101, 0.986);
      }
    }
    .product-buying-container {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      grid-template-areas:
        "img productName"
        "img productUnit"
        "img productCount"
        ". productUnitPrice"
        "cart cart";
      .image-preview {
        grid-area: img;
        max-width: 100%;
      }
      .product-name {
        grid-area: productName;
        font-size: 1.6rem;
      }
      .product-unit-container {
        grid-area: productUnit;
        font-size: 1.8;
      }
      .product-count-container {
        grid-area: productCount;
      }
      .product-detail {
        color: rgba(0, 0, 0, 0.637);
        label {
          font-size: 1.5rem;
        }
        .product-info {
          display: inline-block;
          transform: translateX(0.7rem);
          font-size: 1.5rem;
        }
      }

      .product-unit-price {
        grid-area: productUnitPrice;
        font-size: 1.7rem;
        &::after {
          content: "đ";
          transform: translateX(0.5rem);
          display: inline-block;
          text-decoration: underline;
        }
      }
      input {
        margin-top: 2rem;
        grid-area: cart;
        border: none;
        outline: none;
        background-color: black;
        padding: 1.5rem;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    @media only screen and (max-width: 576px) {
      width: 100%;
      border-radius: 0;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      right: 0;
      top: auto;
      bottom: -100%;
      padding: 1rem 2rem;
      transition: bottom 0.5s ease-in;
      &::before {
        content: "";
        width: 3rem;
        border-radius: 0.5rem;
        height: 0.4rem;
        background-color: rgb(236, 236, 236);
        display: block;
        position: absolute;
        right: 50%;
        top: -1rem;
        transform: translateX(50%);
      }
      header {
        .main-thank {
          color: rgba(21, 158, 101, 0.986);
        }
        .sub-thank {
          display: none;
        }
      }
      .product-buying-container {
        margin-top: 1rem;
        grid-template-columns: 1fr 1.3fr;
        input[type="button"] {
          margin-top: 0;
        }
      }
    }
  }
  .move-right {
    right: 3rem;
    @media only screen and (max-width: 576px) {
      right: 0;
      bottom: 0;
    }
  }
}

.move-up {
  visibility: visible;
}

:host ::ng-deep {
  .product-detail {
    a {
      color: #007bff;
      text-decoration: underline;
      background-color: initial;
    }
    ol {
      list-style-type: decimal;
    }
    ul {
      list-style-type: disc;
    }
    li {
      list-style: inherit;
      margin-left: 2em;
    }
    li + li {
      margin-top: 1em;
    }
    & > * {
      max-width: 100%;
    }
    & > div > div,
    & > div > iframe,
    & > div > img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    & > div img,
    & > div iframe {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    & > div iframe {
      width: max(560px, 50vw);
      aspect-ratio: 1.8 / 1;
    }
  }
}
