<div class="main-container">
  <!-- <ol>
    <li class="title">
      <a routerLink='guide/buy' class="link-hightline">Mua Hàng</a>
    </li>
    <li class="title">
      <a routerLink='guide/refund' class="link-hightline">Đổi Trả</a>
    </li>
    <li class="title">
      <a routerLink='guide/payment' class="link-hightline">Thanh Toán</a>
    </li>
    <li class="title">
      <a routerLink='guide/shipping' class="link-hightline">Giao Hàng</a>
    </li>
  </ol> -->
  <router-outlet></router-outlet>
</div>
