<h1 class="top-header">CHÍNH SÁCH GIAO HÀNG</h1>


<p class="paragraph note">
  Kính thưa quý khách, Do tình hình dịch bệnh diễn biến phức tạp, Cửa hàng xin phép thông báo thay đổi biểu phí ship
  như sau:
</p>
<ul class="margin-level guide-ul next-separate">
  <li class="title small-gap-line">
    Đối với đơn hàng trong cùng quận <span class="main-hightline">dưới 5KM</span>: <p class="paragraph inline-p">
      Freeship đối vói đơn hàng <span class="note">trên 1 Triệu</span>.
      Đồng giá phí ship 30.000đ đối với đơn hàng dưới 1 Triệu.</p>
  </li>
  <li class="title small-gap-line">
    Đối với đơn hàng <span class="main-hightline">khác Quận</span>: <p class="paragraph inline-p">Phí ship sẽ
      được tính dựa trên phí giao hàng thực tế.</p>
  </li>
</ul>

<p class="paragraph note next-separate">
  Ngay Sau khi đặt hàng, độ ngũ nhân viên tư vấn sẽ liên hệ và thông báo và xác nhận phí vận chuyển cho
  quí khách.
</p>


<p class="paragraph next-separate">
  Sự thay đổi này là tạm thời. Kính mong quí khách thông cảm cho sự bấn tiện này. Chân thành cảm ơn quý
  khách.
</p>

<img class="guide-img" src="assets/img/guide/shipper.jpg" alt="">