<h1 class="top-header">CHÍNH SÁCH GIAO HÀNG</h1>


<!-- <p class="paragraph note">
  Kính thưa quý khách, Do tình hình dịch bệnh diễn biến phức tạp, Cửa hàng xin phép thông báo thay đổi biểu phí ship
  như sau:
</p> -->
<ul class="margin-level guide-ul next-separate">
  <li class="title small-gap-line">
    Đối với đơn hàng dưới <span class="main-hightline">1.000.000 VND</span>: <p class="paragraph inline-p">
      Freeship đối vói đơn hàng <span class="note">trong bán kính 3km</span>.
      Ship đồng giá 30.000 VND đối với đơn hàng nội thành và ngoại thành.</p>
  </li>
  <li class="title small-gap-line">
    Đối với đơn hàng <span class="main-hightline">10KG</span>: <p class="paragraph inline-p">Freeship nếu có giá trị
      từ 5.000.000 VND trở lên.</p>
  </li>
  <li class="title small-gap-line">
    Đối với đơn hàng từ <span class="main-hightline">50KG – 150KG</span>: <p class="paragraph inline-p">Phí ship thỏa
      thuận.</p>
  </li>
</ul>

<p class="paragraph note next-separate">
  Ngay Sau khi đặt hàng, độ ngũ nhân viên tư vấn sẽ liên hệ và thông báo và xác nhận phí vận chuyển cho
  quí khách.
</p>


<p class="paragraph next-separate">
  Sự thay đổi này là tạm thời. Kính mong quí khách thông cảm cho sự bấn tiện này. Chân thành cảm ơn quý
  khách.
</p>

<img class="guide-img" src="assets/img/guide/shipper.jpg" alt="">