.main-container {
  margin: 2rem auto;
  .cart-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;

    .product-container {
      flex-grow: 1;
      width: 100%;
      border: 0.1rem solid rgba(85, 85, 85, 0.541);
      border-radius: 0.3rem;

      @media only screen and (min-width: 1200px) {
        width: calc(100% - 38rem);
      }

      .title-container {
        font-size: 1.6rem;
        line-height: 5rem;
        font-weight: 450;
        border-bottom: 0.2rem solid rgba(60, 95, 250, 0.514);
      }

      .list-buy-product {
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        padding: 2rem 0;
        border-bottom: 0.1rem solid rgba(109, 108, 108, 0.479);
        .close-icon-ctn {
          align-items: center;
          .close-icon {
            position: relative;
            left: 50%;
            font-size: 1.7rem;
            color: rgba(0, 0, 0, 0.568);
            font-weight: 200;
            margin-left: auto;
            cursor: pointer;
          }
        }
        .product-price-detail {
          display: grid;
          gap: 1rem;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "img detail"
                              "img detail"
                              "img unitprice"
                              "img productnum"
                              ". totalprice";
          img {
            grid-area: img;
            max-width: 100%;
          }
          .product-info {
            grid-area: detail;
            margin-left: 1rem;
            .product-name {
              font-size: 2rem;
              margin-bottom: 0.5rem;
            }
            .product-unit {
              font-size: 1.6rem;
              color: rgba(58, 58, 58, 0.658);
            }
          }
          .unit-price {
            grid-area: unitprice;
            font-size: 2rem;
            font-weight: 450;
            &::after {
              content: "đ";
              font-size: 0.9em;
              padding-left: 0.4rem;
              text-decoration: underline;
            }
          }
          .product-number-container {
            grid-area: productnum;
            .action-btn {
              cursor: pointer;
              font-size: 1.6rem;
              border: 0.1rem solid rgba(163, 163, 163, 0.767);
              border-radius: 0.3rem;
              padding: 0.3rem 1rem;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              &:hover {
                background-color: rgba(129, 126, 126, 0.61);
                color: white;
              }
            }
            .product-number {
              width: 5rem;
              border: none;
              outline: none;
              font-size: 2.4rem;
              text-align: center;
              -moz-appearance: textfield;
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }
          .total-price{
            grid-area: totalprice;
            visibility: hidden;
          }
          @media only screen and (min-width: 768px) {
            grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr;
            grid-template-areas: "img detail unitprice productnum totalprice";
            .total-price{
              visibility: visible;
            }
          }
        }
      }

      .back-shoping {
        height: 8rem;
        a {
          font-size: 1.8rem;
          font-weight: 550;
          text-decoration: none;
          cursor: pointer;
          color: rgba(0, 0, 0, 0.699);
          margin-left: 5rem;
          padding: 1rem;
          display: inline-block;
          top: 50%;
          position: relative;
          transform: translateY(-50%);
        }
      }
    }

    .payment-form {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      padding: 3rem 2rem;
      background-color: rgba(212, 212, 212, 0.411);

      @media only screen and (min-width: 1200px) {
        width: 36rem;
      }

      .title {
        grid-column: 1 / 2;
        font-size: 1.9rem;
        color: rgba(0, 0, 0, 0.548);
        margin: auto 0;
      }
      .total-price {
        text-align: right;
        grid-column: 2 / 3;
        font-size: 2.5rem;
        color: rgba(247, 27, 27, 0.911);
        font-weight: 450;
        &::after {
          padding-right: 0.4rem;
          content: "đ";
          text-decoration: underline;
          font-size: 0.9em;
        }
      }
      .purchase-now {
        background-color: black;
        border-radius: 0.3rem;
        color: white;
        font-size: 1.9rem;
        padding: 1.7rem;
        grid-column: 1/-1;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media only screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media only screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media only screen and (min-width: 1200px) {
    max-width: 1140px;
  }
  @media only screen and (min-width: 1800px) {
    max-width: 1638px;
  }
}
