<div class="main-container">
  <form class="cart-form">
    <div class="product-container">
      <div class="title-container">
        <div class="col-1"></div>
        <div class="col-11">
          <div class="col-5">Sản Phẩm</div>
          <div class="col-2">Đơn Giá</div>
          <div class="col-3">Số Lượng</div>
          <div class="col-2">Thành Tiền</div>
        </div>
      </div>
      <div class="list-buy-product">

      </div>
      <div class="back-shoping">

      </div>
    </div>
    <div class="payment-form">
      <div class="title">Thành Tiền</div>
      <span class="total-price">{{totalPrice}}</span>
      <a class="purchase-now">Thanh Toán</a>
    </div>
  </form>
</div>
