<h1 class="top-header">CHÍNH SÁCH THANH TOÁN</h1>
<h2 class="title">
  Phương Thức Thanh Toán:
  <p class="paragraph">
    Sau khi quý khách đặt hàng, nhân viên Trùm Biển sẽ nhanh chóng liên lạc quý khách để xác nhận đơn hàng và phí ship.
    Quý khách có thể chọn một trong hai cách thanh toán:
  </p>
</h2>
<ol class="margin-level">
  <li class="title">
    Thanh toán khi nhận hàng:
    <p class="paragraph">
      Với phương thức thanh toán trực tiếp Quý khách có thể thanh toán đầy đủ toàn bộ giá trị đơn hàng cho Nhân viên
      giao nhận.
    </p>
  </li>
  <li class="title">
    Thanh toán chuyển khoản:
    <p class="paragraph">
      Qúy khách thanh toán bằng phương thức chuyển khoản vào tài khoản của Trùm Biển. Sau khi nhận được chuyển khoản,
      chúng tôi sẽ tiến hành đóng hàng và giao hàng cho quý khách theo yêu cầu.
    </p>
  </li>
</ol>

<img class="guide-img" src="assets/img/guide/Payment.png" alt="">

<div class="block-hightline">
  <p class="paragraph">
    Chủ Tài Khoản:
    <span class="title inline-p">
      Đồng Quin
    </span>
  </p>

  <p class="paragraph">
    Số Tài Khoản:
    <span class="title inline-p">
      88888888888888888888888
    </span>
  </p>

  <p class="paragraph">
    Ngân Hàng:
    <span class="title inline-p">
      VietTinBank
    </span>
    , Chi Nhánh:
    <span class="title inline-p">
      HCM
    </span>
  </p>

  <p class="paragraph">
    Nội Dung Giao Dịch:
    <span class="title inline-p">
      &lt;Số Điện Thoại&gt; &lt;Tên Người Mua&gt; &lt;Ghi Chú Nếu Có&gt;
    </span>
  </p>

  <p class="paragraph">
    Ví dụ:
    <span class="title inline-p">
      0123456789 Đồng Quin Giao Trong Sang nay
    </span>
  </p>
</div>

<p class="paragraph note">
  Mọi thắc mắc về thanh toán và phát sinh, xin quý khách vui lòng liên hệ Hotline <a class="red-highlight" href="tel:0822088079">0822.088.079</a> để nhân viên Trùm Biển hỗ trợ quý khách. Xin chân thành cám ơn.
</p>
