<header>
  <div class="navbar">
    <div class="logo">
      <a href=""><img src="assets/img/icon.png" alt=""></a>
    </div>
    <div class="search">
      <div class="search-anchor">
        <form class="wrap-search">
          <input type="text" class="search-input">
          <fa-icon class="search-icon-size" [icon]="faSearch"></fa-icon>
        </form>
        <fa-icon class="search-icon-reponsive" [icon]="faSearch"></fa-icon>
      </div>
    </div>
    <nav>
      <ul>
        <li class="li-products">
          <a href="#">Sản Phẩm</a>
          <div class="hover-menu-container">
            <ul class="hover-menu">
              <li><a href="#"><span>Đồ Uống Nhập Ngoại</span></a></li>
              <li><a href="#"><span>Nước Lọc</span></a></li>
              <li><a href="#"><span>Đồ Uống Có Cồn</span></a></li>
              <li><a href="#"><span>Trending</span></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div class="shop-package">
      <fa-icon class="shop-cart-size" [icon]="fashoppingcart"></fa-icon>
      <span>0</span>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
