<header (click)="1" #header>
  <div class="top-contract">
    <div class="align-right">
      <img src="assets/img/phone.png" alt="Trùm Biển - chuyên hải sản - liên hệ" class="contract-icon">
      <img src="assets/img/zalo.png" alt="Trùm Biển - chuyên hải sản - liên hệ" class="contract-icon round-circle">
      <a href="tel:0822088079">0822.088.079</a>
    </div>
  </div>


  <div class="logo-container">
    <a href="">
      <img src="assets/img/Logo.png" alt="Trùm Biển - chuyên hải sản" class="absolute-vertical-center logo" [ngClass]="{'fixed-right' : isNavBarSticky}">
    </a>
    <img src="assets/img/Slogan.png" alt="Trùm Biển - chuyên hải sản" class="absolute-center slogan" [ngClass]="{'fixed-right' : isNavBarSticky}">
    <div class="absolute-vertical-center shop-cart" [ngClass]="{'fixed-right' : isNavBarSticky}">
      <div class="search-box">
        <input type="text" name="searchInput" id="" class="search-input light-bright" placeholder="Tìm kiếm sản phẩm">
        <img src="assets/img/SearchIcon.png" alt="" class="light-bright">
      </div>
      <div class="shop-package">
        <a routerLink="/cart">
          <img src="assets/img/CartIcon.png" alt="" class="light-bright">
          <span>{{totalProduct}}</span>
        </a>
      </div>
    </div>
  </div>

  <!--
  <div class="main-container navbar hide">
    <div class="logo">
      <a href=""><img src="assets/img/icon.png" alt=""></a>
    </div>
    <div class="search">
      <div class="search-anchor">
        <input type="text" #searchText (keyup.enter)="onSearchEnter(searchText.value)" [style.visibility]="visibilitySearchBar"
          placeholder="Tìm kiếm sản phẩm" (keyup)="onSearch(searchText.value)" class="search-input">
        <div class="wrap-search" [style.visibility]="visibilitySearchBar">
          <fa-icon *ngIf="isMobileMode||searchText.value!==''" class="search-icon-size close-icon" [icon]="faClose"
            (click)="clearSearchText();"></fa-icon>
          <fa-icon class="search-icon-size" [icon]="faSearch" (click)="onSearchEnter(searchText.value)"></fa-icon>
          <div class="search-result search-result-active">
            <div *ngIf="!listResult||listResult.length===0" class="divier"></div>
            <div *ngIf="!listResult||listResult.length===0" class="quicksearch-container">
              <a class="quick-search" [routerLink]="['/search','Oranjeboom']" (click)="resetSearch()">Oranjeboom</a>
              <a class="quick-search" [routerLink]="['/search','Tiger']" (click)="resetSearch()">Tiger</a>
              <a class="quick-search" [routerLink]="['/search','Coca-Cola']" (click)="resetSearch()">Coca-cola</a>
            </div>
            <ul class="list-result">
              <li *ngFor="let item of listResult;" class="result" [routerLink]="['/detail', item.beerSecondID]"
                routerLinkActive="router-link-active">
                <a [routerLink]="['/detail', item.beerSecondID]" (click)="resetSearch()">
                  <img [src]="item.images&&item.images.length>0?item.images[0].thumbnail:''" alt="" class="thumbnail">
                  <div class="result-detail">
                    <h4>{{item.name}}</h4>
                    <span>{{item.detail}}</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <fa-icon class="search-icon-reponsive" [icon]="faSearch" (click)="mobileShowSearch();"></fa-icon>
    <nav>
      <ul>
        <li class="li-products li-products-hover" (click)="1">
          <a class="product-hover">Sản Phẩm</a>
          <div class="hover-menu-container" *ngIf="showHoverMenu">
            <ul class="hover-menu">
              <li *ngFor="let item of CatetoryDrop;" (click)="categorySearch(item.value)">
                <a class="router-link-active">
                  <span>{{item.title}}</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div class="shop-package">
      <a routerLink="/cart">
        <fa-icon class="shop-cart-size" [icon]="fashoppingcart"></fa-icon>
        <span>{{totalProduct}}</span>
      </a>
    </div>
  </div> -->

  <div *ngIf="loader.isLoading | async" class="loading-bar"></div>
</header>


<nav class="stick-navbar top-float"  [ngClass]="{'enable-stick' : isNavBarSticky}">
  <input id="openMenu" type="checkbox" class="checkbox-hold-state show-menu-enable" checked [(ngModel)]='isOpenMenu'>
  <ul class="navbar-container align-center">
    <li>
      <a class="absolute-full drop-down-icon">Sản Phẩm</a>
      <div class="hover-menu-container absolute-full" *ngIf="showHoverMenu">
        <ul class="hover-menu">
          <li *ngFor="let item of CatetoryDrop;" (click)="categorySearch(item.value)">
            <a class="router-link-active">
              <span>{{item.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="" class="absolute-full">Chăm Sóc KH</a>
    </li>
    <li>
      <a href="" class="absolute-full">Giới Thiệu</a>
    </li>
    <li>
      <a href="" class="absolute-full">Liên Hệ</a>
    </li>
  </ul>
  <div class="open-menu-container absolute-vertical-center">
    <label class="absolute-vertical-center menu-icon" for="openMenu">
      <img src="assets/img/MenuIcon.png" alt="">
    </label>
  </div>
</nav>


<main (click)="1">
  <router-outlet></router-outlet>
</main>


<footer (click)="1">
  <div class="footer-container">
    <div class="footer-col2">
      <input id="lienceCB" type="checkbox" class="hold-state" checked>
      <section class="footer-section-container">
        <h2 class="footer-section-title">CHÍNH SÁCH<label for="lienceCB"></label></h2>
        <ul class="footer-list-container">
          <li>Mua Hàng</li>
          <li>Đổi Trả</li>
          <li>Thanh Toán</li>
          <li>Giao Hàng</li>
        </ul>
      </section>
    </div>
    <div class="footer-col2">
      <input id="lienceCT" type="checkbox" class="hold-state" checked>
      <section class="footer-section-container">
        <h2 class="footer-section-title">THÔNG TIN LIÊN HỆ<label for="lienceCT"></label></h2>
        <ul class="footer-list-container">
          <li>SĐT: <a href="tel:0822088079">0822.088.079</a></li>
          <li>Địa Chỉ: 413 Lê Văn Quới, Bình Trị Đông A, Bình Tân, TPHCM</li>
          <li>Email: trumbien8888@gmail.com</li>
          <li>
            <a href="">
              <fa-icon class="icon-size" [icon]="faFacebook"></fa-icon>
            </a>
            <a href="">
              <fa-icon class="icon-size" [icon]="faInstagram"></fa-icon>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
<input type="text" #resetFocus style="position: fixed; top: -1000rem;left: -1000rem;">
<div class="over" (click)="clearSearchText();" #over></div>
<div class="add-shop-package-popup">

</div>
<div class="action-bar">
</div>

<div class="over alter" [class.over-show]="isShowAlter" (click)="closeAlter()">
  <div class="alter-form">
    <span class="alter-text">{{notification}}</span>
    <span class="btn" (click)="closeAlter()"></span>
  </div>
</div>

<aside class="add-package-popup" [class.move-up]='showAddCartPopup' (click)='hideSuccessPopUP($event)'>
  <form class="add-cart-preview-container" [class.move-right]='showAddCartPopup'>
    <header class="thankfull-header">
      <h1 class="main-thank">Đã Thêm Vào Giỏ Hàng Thành Công</h1>
      <h3 class="sub-thank">Cảm ơn bạn đã lựa chọn sản phẩm!</h3>
    </header>
    <div class="product-buying-container">
      <img [src]="productPreviewImg" alt="" class="image-preview">
      <h1 class="product-name">beer tiger</h1>
      <div class="product-unit-container product-detail">
        <label for="">Đơn Vị:</label>
        <h2 class="product-info">{{productUnitTitle}}</h2>
      </div>
      <div class="product-count-container product-detail">
        <label for="">Số Lượng:</label>
        <h2 class="product-info">{{productCount}}</h2>
      </div>
      <h2 class="product-unit-price">{{productPrice}}</h2>
      <input (click)='hideSuccessPopUP($event)' routerLink="/cart" type="button" value="Xem Giỏ Hàng">
    </div>
  </form>
</aside>
