<header (click)="1" #header>
  <div class="top-contract">
    <div class="align-right">
      <img src="assets/img/phone.png" alt="Trùm Biển - chuyên hải sản - liên hệ" class="contract-icon">
      <img src="assets/img/zalo.png" alt="Trùm Biển - chuyên hải sản - liên hệ" class="contract-icon round-circle">
      <a href="tel:0822088079">0822.088.079</a>
    </div>
  </div>


  <div class="logo-container">
    <a href="">
      <img src="assets/img/Logo.png" alt="Trùm Biển - chuyên hải sản" class="absolute-vertical-center logo"
        [class.on-input-focus]='isInputSearchFocus && isNavBarSticky' [ngClass]="{'fixed-right' : isNavBarSticky}">
    </a>
    <img src="assets/img/Slogan.png" alt="Trùm Biển - chuyên hải sản" class="absolute-center slogan"
      [class.on-input-focus]='isInputSearchFocus && !isNavBarSticky' [ngClass]="{'fixed-right' : isNavBarSticky}">
    <div class="absolute-vertical-center shop-cart" [ngClass]="{'fixed-right' : isNavBarSticky}"
      [class.on-input-focus]='isInputSearchFocus'>
      <div class="search-box">
        <input type="text" #searchText (keyup.enter)="onSearchEnter(searchText.value)"
          placeholder="Tìm kiếm sản phẩm" (keyup)="onSearch(searchText.value)" class="search-input light-bright"
          (focusout)='searchInputFocusOut($event)'>
        <img src="assets/img/CloseIcon.png" alt="" class="show-search-input light-bright close-icon"
          (click)="clearSearchText()">
        <img src="assets/img/SearchIcon.png" alt="" class="show-search-input light-bright" (click)='focusSearchInput()'>
        <div class="search-click-handle" (click)="onSearchEnter(searchText.value)"></div>
        <div class="wrap-search" #wrapSearch>
          <div class="search-result search-result-active">
            <h2 *ngIf="!listResult||listResult.length===0">Top Hải Sản</h2>
            <div *ngIf="!listResult||listResult.length===0" class="quicksearch-container">
              <a class="quick-search" [routerLink]="['/search','Ốc Bulot Pháp']" (click)="resetSearch()">Ốc Bulot
                Pháp</a>
              <a class="quick-search" [routerLink]="['/search','Bào Ngư']" (click)="resetSearch()">Bào Ngư</a>
              <a class="quick-search" [routerLink]="['/search','Hàu Nhật']" (click)="resetSearch()">Hàu Nhật</a>
              <a class="quick-search" [routerLink]="['/search','Hải Sâm']" (click)="resetSearch()">Hải Sâm</a>
              <a class="quick-search" [routerLink]="['/search','Cá Mú Đỏ']" (click)="resetSearch()">Cá Mú Đỏ</a>
            </div>
            <ul class="list-result">
              <li *ngFor="let item of listResult;" class="result" [routerLink]="['/detail', item.beerSecondID]"
                routerLinkActive="router-link-active">
                <a [routerLink]="['/detail', item.beerSecondID]" (click)="resetSearch()">
                  <img [src]="item.images&&item.images.length>0?item.images[0].thumbnail:''" alt="" class="thumbnail">
                  <div class="result-detail">
                    <h4>{{item.name}}</h4>
                    <span>{{item.detail | htmlClean: item.name}}</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="shop-package">
        <a routerLink="/cart">
          <img src="assets/img/CartIcon.png" alt="" class="light-bright">
          <span>{{totalProduct}}</span>
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="loader.isLoading | async" class="loading-bar"></div>
</header>


<nav class="stick-navbar top-float" [ngClass]="{'enable-stick' : isNavBarSticky}">
  <input id="openMenu" type="checkbox" class="checkbox-hold-state show-menu-enable" checked [(ngModel)]='isOpenMenu'>
  <ul class="navbar-container align-center">
    <li>
      <a class="absolute-full drop-down-icon">Sản Phẩm</a>
      <div class="hover-menu-container absolute-full" *ngIf="showHoverMenu">
        <ul class="hover-menu">
          <li *ngFor="let item of CatetoryDrop;" (click)="categorySearch(item.value)">
            <a class="router-link-active" [routerLink]="['/search', item.value]">
              <span>{{item.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a (click)="categorySearch('all')" class="absolute-full" [routerLink]="['/search', 'all']">Khuyến Mãi HOT</a>
    </li>
    <li>
      <a (click)="gotoPath('guide', 'introduction')" class="absolute-full" [routerLink]="['/guide', 'introduction']">Giới Thiệu</a>
    </li>
    <li>
      <a (click)="gotoPath('guide', 'contract')" class="absolute-full" [routerLink]="['/guide', 'contract']">Liên Hệ</a>
    </li>
  </ul>
  <div class="open-menu-container absolute-vertical-center">
    <label class="absolute-vertical-center menu-icon" [class.on-input-focus]='isInputSearchFocus && !isNavBarSticky'
      for="openMenu">
      <img src="assets/img/MenuIcon.png" alt="">
    </label>
  </div>
</nav>


<main (click)="1">
  <router-outlet></router-outlet>
</main>

<div class="notification-stick" *ngIf='showStickyNotification'>
  <h2>Freeship Đơn Hàng Trên 1 triệu nội thành HCM.</h2>
  <img src="assets/img/CloseIcon.png" alt="" class="close-totification-stick absolute-vertical-center light-bright"
    (click)="showStickyNotification = false">
</div>

<footer (click)="1">
  <img src="assets/img/Logo.png" alt="Trùm Biển - chuyên hải sản" class="footer-logo">
  <div class="footer-container">
    <div class="footer-col2">
      <input id="lienceCB" type="checkbox" class="hold-state" checked>
      <section class="footer-section-container">
        <h2 class="footer-section-title">CHÍNH SÁCH<label for="lienceCB"></label></h2>
        <ul class="footer-list-container">
          <li>
            <a routerLink='guide/buy'>Mua Hàng</a>
          </li>
          <li>
            <a routerLink='guide/refund'>Đổi Trả</a>
          </li>
          <li>
            <a routerLink='guide/payment'>Thanh Toán</a>
          </li>
          <li>
            <a routerLink='guide/shipping'>Giao Hàng</a>
          </li>
        </ul>
      </section>
    </div>
    <div class="footer-col2">
      <input id="lienceCT" type="checkbox" class="hold-state" checked>
      <section class="footer-section-container">
        <h2 class="footer-section-title">THÔNG TIN LIÊN HỆ<label for="lienceCT"></label></h2>
        <ul class="footer-list-container">
          <li>SĐT: <a href="tel:0822088079">0822.088.079</a></li>
          <li>Chi Nhánh 1: 413 Lê Văn Quới, Bình Trị Đông A, Bình Tân, TPHCM</li>
          <li>Chi Nhánh 2: 5 Lý Chính Thắng, Võ Thị Sáu, Quận 3, TPHCM</li>
          <li>Email: trumbien8888@gmail.com</li>
          <li>
            <a href="https://www.facebook.com/trumbienhaisancaocap888" class="social-item">
              <img src="assets/img/FacebookIcon.png" alt="" loading="lazy">
            </a>
            <a href="" class="social-item">
              <img src="assets/img/TwitterIcon.png" alt="" loading="lazy">
            </a>
            <a href="https://www.youtube.com/channel/UCt3FqPJaOKGK6yQ-GGekqww/" class="social-item">
              <img src="assets/img/YoutubeIcon.png" alt="" loading="lazy">
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>

<input type="text" #resetFocus style="position: fixed; top: -1000rem;left: -1000rem;">

<div class="add-shop-package-popup"></div>

<div class="action-bar"></div>

<div class="over alter" [class.over-show]="isShowAlter" (click)="closeAlter()">
  <div class="alter-form">
    <span class="alter-text">{{notification}}</span>
    <span class="btn" (click)="closeAlter()"></span>
  </div>
</div>

<aside class="add-package-popup" [class.move-up]='showAddCartPopup' (click)='hideSuccessPopUP($event)'>
  <form class="add-cart-preview-container" [class.move-right]='showAddCartPopup'>
    <header class="thankfull-header">
      <h1 class="main-thank">Đã Thêm Vào Giỏ Hàng Thành Công</h1>
      <h3 class="sub-thank">Cảm ơn bạn đã lựa chọn sản phẩm!</h3>
    </header>
    <div class="product-buying-container">
      <img [src]="productPreviewImg" alt="" class="image-preview">
      <h1 class="product-name">{{productName}}</h1>
      <div class="product-unit-container product-detail">
        <label for="">Đơn Vị:</label>
        <h2 class="product-info">{{productUnitTitle}}</h2>
      </div>
      <div class="product-count-container product-detail">
        <label for="">Số Lượng:</label>
        <h2 class="product-info">{{productCount}}</h2>
      </div>
      <h2 class="product-unit-price">{{productPrice}}</h2>
      <input (click)='hideSuccessPopUP($event)' routerLink="/cart" type="button" value="Xem Giỏ Hàng">
    </div>
  </form>
</aside>
