<h1 class="top-header">GIỚI THIỆU VỀ TRÙM BIỂN</h1>

<p class="paragraph next-separate">
  <!-- ⛔ CÔNG TY Cổ Phần Tập Đoàn … <br> -->
  🏠 Chi Nhánh 1: 413 Lê Văn Quới, Bình Trị Đông A, Bình Tân, TPHCM. <br>
  🏠 Chi Nhánh 2: 5 Lý Chính Thắng, Võ Thị Sáu, Quận 3, TPHCM. <br>
  ☎HOTLINE ĐẶT HÀNG: 0822.088.079 <br>
  💻 WEBSITE: <a class="link-hightline" href="https:\\www.trumbien.com">https:\\www.trumbien.com</a> <br>
  📩 EMAIL: <a class="link-hightline" href="mailto:trumbien8888@gmail.com">trumbien8888&#64;gmail.com</a>
</p>
