<section>
  <h2 *ngIf="!searchMode" class="title-dot">Sản Phẩm</h2>
  <div *ngIf="searchMode" class="sort-wrap list-product-content">
    <h1 class="search-title">{{title}}</h1>
    <div class="sort-select">
      <select (change)='changeFilter(filter.value)' #filter class="select">
        <option *ngFor="let item of filterOption;" [value]="item.value">{{item.title}}</option>
      </select>
    </div>
  </div>
  <div class="list-product-content">
    <div *ngFor="let item of listProduct;" class="product-detail">
      <a href="" class="product-container">
        <div class="wrap-aspectratio">
          <img [src]="item.images&&item.images.length>0?hostUrl+'image/preview/'+item.images[0]:''" alt="" class="product-preview">
        </div>
        <h3 class="product-title">{{item.name}}</h3>
        <ins class="product-price">{{item.listUnit[0].price*(100-item.listUnit[0].discount)/100}}</ins>
        <span *ngIf="item.listUnit[0].discount" class="product-discount">{{item.listUnit[0].discount}}</span>
      </a>
    </div>
  </div>
  <div class="see-more" *ngIf="!searchMode">
    <a [routerLink]="['/search','all']">Xem Thêm</a>
  </div>
  <div class="pagination list-product-content" *ngIf="activePage!==0">
    <fa-icon class="icon-size" [icon]="faLeft" (click)="goPre()"></fa-icon>
    <span *ngFor="let item of listPage;" class='{{item===activePage?"active-page":""}}' (click)="goPage(item)">{{item===-1 || item===-2?'...':item}}</span>
    <fa-icon class="icon-size" [icon]="faRight" (click)="goNext()"></fa-icon>
  </div>
</section>
