
section {
  margin-top: 5rem;
  text-align: center;
  h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;

    @media only screen and (max-width: 850px) {
      font-size: 2rem;
    }
  }
  .title-dot {
    display: inline-block;
    position: relative;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-style: normal;
    font-weight: 500;
    font-size: clamp(20px, 5vw, 36px);

  }
  .sort-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    .search-title {
      font-size: clamp(1.7rem, 5vw, 2.2rem);
      padding-left: 1rem;
      text-align: left;
    }
    .sort-select {
      position: relative;
      width: 17rem;
      align-items: flex-end;
      margin-right: 1rem;
      margin-left: 1rem;

      --drop-color: black;
      .select {
        width: 100%;
        height: 100%;
        min-height: 3.5rem;
        font-size: 1.5rem;
        outline: none;

        border: 0.1rem solid #0E1C22;
        padding: 1.2rem 1.6rem;
        color: #0E1C22;
        font-size: 1.6rem;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        background: none;
        box-shadow: none;
        border-radius: 0;
      }
    }
    @media only screen and (max-width: 576px) {
      .sort-select {
        width: 100%;
      }
    }
  }
  .see-more {
    display: none;
    a {
      font-size: 1.6rem;
      text-decoration: none;
      border: 0.1rem solid #6b6b6b;
      border-radius: 0.1rem;
      padding: 1rem 1.5rem 1rem;
      transition: all 0.3s ease-in;
      color: rgb(53, 53, 53);
      &:active,
      &:hover {
        color: white;
        background-color: rgb(70, 70, 70);
      }
    }
  }
  .pagination{
    padding-right: 2rem;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.3rem;
    *{
      width: 5rem;
    }
    span, .function-button{
      padding: 0 1rem;
      margin: 0 0.5rem;
      color: #8b8b8b;
      cursor: pointer;
      &:hover{
        color: black;
      }
    }
    .go-button{
      vertical-align: middle;
      height: 20px;
      object-fit: contain;
      -webkit-filter: brightness(0);
      filter: brightness(0);
    }
    .active-page{
      cursor: default;
      color: black;
    }
    @media only screen and (max-width: 768px) {
      font-size: 1.8rem;
      *{
        width: 2.4rem;
      }
    }
    @media only screen and (max-width: 576px) {
      font-size: 1.5rem;
      *{
        width: 2rem;
      }
    }
  }
}

.list-product-content {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto 3rem;
  width: 100%;
  .product-detail {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 1rem 1.2rem 2.5rem 1.2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    &:active,
    &:hover {
      box-shadow: 0 0 1.5rem rgb(212, 212, 212);
    }
    .product-container {
      display: block;
      position: relative;
      text-decoration: none;
      text-align: left;

      &.sold_out{
        .add-to-package{
          pointer-events: none;
          background-color: white;
          color: red;
          &::after{
            content: "Hết Hàng";
          }
        }
      }

      .wrap-aspectratio {
        position: relative;
        width: 100%;
        padding-top: calc(480 / 420 * 100%);
        .product-preview {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.3s ease-in;
        }
      }
      .product-title {
        margin-top: 1.4rem;
        font-weight: 400;
        font-size: 1.4rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-bottom: 1.5rem;
        text-align: center;
      }
      .product-real-price{
        display: block;
        margin: 0 auto;
        font-size: 1.8rem;
        text-decoration: none;
        text-decoration-line: line-through;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        color: #6F6F6F;
      }
      .product-price {
        display: block;
        margin: 1.5rem 0 auto;
        font-size: 1.8rem;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        color: #00A2E4;
      }
      .product-discount {
        position: absolute;
        top: 1rem;
        right: 1rem;
        margin-left: 1.5rem;
        display: inline-block;
        font-size: 1.8rem;
        text-decoration: none;
        font-weight: bold;
        vertical-align: middle;
        color: #fffefe;
        background-color: red;
        border-radius: 0.3rem;
        padding: 0.2rem 0.5rem 0.2rem;
        &::after {
          content: "%";
        }
        &::before {
          content: "-";
        }
      }
      .add-to-package{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        font-size: 1.5rem;
        border: 0.2rem solid black;
        text-align: center;
        padding: 1rem;
        border-radius: 2rem;
        display: block;
        width: 20rem;
        margin: 0 auto;
        margin-top: 1.5rem;
        max-width: 100%;
        &::after{
          content: "Thêm Vào Giỏ";
        }
        &:hover
        ,&:focus
        {
          background-color: var(--main-color);
          border-color: var(--main-color);
          color: white;
          transition: all .3s ease;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .list-product-content {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .list-product-content {
    max-width: 720px;
    .product-detail {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
@media only screen and (min-width: 992px) {
  .list-product-content {
    max-width: 960px;
    .product-detail {
      .product-container {
        .product-title {
          font-size: 1.8rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .list-product-content {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1800px) {
  .list-product-content {
    max-width: 1638px;
  }
}
