<section class="main-container">
  <h2 *ngIf="!searchMode" class="title-dot">{{mainTitle}}</h2>
  <div *ngIf="searchMode" class="sort-wrap list-product-content">
    <h1 class="search-title">{{title}}</h1>
    <div class="sort-select drop-down-icon">
      <select (change)='changeFilter(filter.value)' #filter class="select">
        <option *ngFor="let item of filterOption;" [value]="item.value">{{item.title}}</option>
      </select>
    </div>
  </div>
  <div class="list-product-content">
    <div *ngFor="let item of listProduct;" class="product-detail">
      <div class="product-container">
        <div class="wrap-aspectratio">
          <a [routerLink]="['/detail', item.beerSecondID]">
            <img [src]="item.images&&item.images.length>0?item.images[0].medium:''" alt=""
              class="product-preview">
            </a>
        </div>
        <h3 class="product-title">{{item.name}}</h3>
        <ins [style.visibility]='item.listUnit[0].discount?"visible":"hidden"' class="product-real-price">{{item.listUnit[0].price | moneyFormat}}</ins>
        <ins class="product-price">{{item.listUnit[0].price*(100-item.listUnit[0].discount)/100 | moneyFormat}}</ins>
        <span *ngIf="item.listUnit[0].discount" class="product-discount">{{item.listUnit[0].discount}}</span>
        <a class="add-to-package" (click)="addToPackage(item)">Thêm Vào Giỏ</a>
      </div>
    </div>
  </div>
  <div class="see-more" *ngIf="!searchMode">
    <a [routerLink]="['/search','all']">Xem Thêm</a>
  </div>
  <div class="pagination list-product-content" *ngIf="totalResult>1">
    <fa-icon class="icon-size" [icon]="faLeft" (click)="goPre()"></fa-icon>
    <span *ngFor="let item of listPage;" class='{{item===activePage?"active-page":""}}'
      (click)="goPage(item)">{{item===-1 || item===-2?'...':item}}</span>
    <fa-icon class="icon-size" [icon]="faRight" (click)="goNext()"></fa-icon>
  </div>
</section>
