/* You can add global styles to this file, and also import other style files */

// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700&display=swap&subset=vietnamese');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --main-color: #184863;
  --navbar-height: 5.5rem;
  --header-height: 13rem;

  height: 100%;
  width: 100%;
  font-size: 62.5%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  // overflow-x: hidden;
}

body {
  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  &:active {
    transition: all 0.35s ease;
    transform: scale(0.95);
  }
}

.disable-scroll {
  overflow: hidden;
  height: 100%;
}

//layout
main{
  margin-top: 2px;
  margin-bottom: 20px;
}

//layout
.main-container {
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 0.2rem;
  margin-bottom: 2rem;

  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  @media only screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media only screen and (min-width: 767px) {
    max-width: 720px;
  }
  @media only screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media only screen and (min-width: 1200px) {
    max-width: 1140px;
  }
  @media only screen and (min-width: 1800px) {
    max-width: 1200px;
  }
}
