
<aside class="right-side">
  <div class="social-container">
    <a href="https://www.facebook.com/trumbienhaisancaocap888">
      <img src="assets/img/FacebookIcon.png" alt="">
    </a>
    <a href="">
      <img src="assets/img/TwitterIcon.png" alt="">
    </a>
    <a href="">
      <img src="assets/img/YoutubeIcon.png" alt="">
    </a>
  </div>
</aside>

<div class="carousel-anchor">
  <app-carousel-padding></app-carousel-padding>
</div>
<h2 class="slogan">CHẤT LƯỢNG LÀM NÊN UY TÍN</h2>
<img src="assets/img/Fotolia.jpg" alt="" class="main-container img-ads" loading="lazy">
<app-list-product [listProduct]="listProduct" [searchMode]="false">
</app-list-product>
