.carousel-anchor{
  position: relative;
  padding-top: 42.5%;
  width: 100%;
}

.slogan{
  width: 100%;
  margin-top: 5rem;

  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
}

.img-ads{
  display: block;
  margin-top: 5rem;
}
