.main-container {
  margin: 2rem auto;

  .payment-container {
    flex: 1 1 55%;
    .nav-path {
      margin: 1rem 0;
      font-size: 1.3rem;
      .li-active {
        cursor: pointer;
        color: rgb(0, 60, 255);
      }
      * {
        display: inline-block;
      }
      * + * {
        &::before {
          content: ">";
          margin: 0 0.5rem;
          display: inline-block;
        }
      }
    }
    .user-input-container {
      .input-field {
        position: relative;
        label{
          color: #333333b0;
          position: absolute;
          opacity: 1;
          top: 0.2rem;
          left: 1rem;
          z-index: 1;
          font-size: 1.2rem;
          transition: all 0.2s ease-out;
        }
        input {
          transition: all 0.2s ease-out;
          color: #333333;
          font-size: 1.5rem;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          box-shadow: 0 0 0 1px #d9d9d9;
          background-color: white;
          border-radius: 4px;
          display: block;
          box-sizing: border-box;
          width: 100%;
          padding: 1.5em 2.8em 0.38em 0.8em;
          word-break: normal;

          -webkit-font-smoothing: inherit;
          border: none;
          background: transparent;
          line-height: normal;
          outline-color: rgba(22, 76, 255, 0.658);

          &:placeholder-shown + label{
            opacity: 0;
            font-size: 1.5rem;
          }
          &:placeholder-shown{
            padding-top: 0.94em;
            padding-bottom: 0.94em;
          }
        }
      }
    }
  }

  .sidebar {
    flex: 1 1 45%;
  }

  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .company-title {
    font-size: 2.3rem;
    font-weight: normal;
  }

  .title-font {
    font-size: 1.6rem;
    font-weight: normal;
  }

  @media only screen and (min-width: 576px) {
    max-width: 540px;

    .title-font {
      font-size: 1.6rem;
      font-weight: normal;
    }
  }
  @media only screen and (min-width: 767px) {
    max-width: 720px;

    .title-font {
      font-size: 1.6rem;
      font-weight: normal;
    }
  }
  @media only screen and (min-width: 992px) {
    max-width: 960px;

    .title-font {
      font-size: 1.6rem;
      font-weight: normal;
    }
  }
  @media only screen and (min-width: 1200px) {
    max-width: 1140px;

    .title-font {
      font-size: 2rem;
      font-weight: 450;
    }
  }
  @media only screen and (min-width: 1800px) {
    max-width: 1638px;

    .title-font {
      font-size: 2rem;
      font-weight: 450;
    }
  }
}
