<div class="checkout-container" *ngIf="ready">
  <div class="flex-container" *ngIf="showCart; else emptyCart">
    <div class="sidebar">
      <input type="checkbox" name="" id="showproductitem" class="show-cart-state-holder">
      <section class="show-cart-container">
        <img src="assets/img/CartIcon.png" class="cart-icon" alt="">
        <label for="showproductitem" class="hide-cart">Hiển thị thông tin đơn hàng<svg width="11" height="6"
            xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle" fill="#000">
            <path
              d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z">
            </path>
          </svg></label>
        <label for="showproductitem" class="show-cart">Ẩn thông tin đơn hàng<svg width="11" height="7"
            xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle" fill="#000">
            <path
              d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z">
            </path>
          </svg></label>
        <span>{{allPrice | moneyFormat}}</span>
      </section>
      <section class="list-product">
        <ul>
          <li *ngFor="let item of listProduct">
            <div class="product-preview-container">
              <div class="product-preview">
                <img
                  [src]="item.beerSubmitData.images != null && item.beerSubmitData.images.length > 0?item.beerSubmitData.images[0].medium:''"
                  alt="">
                <span>{{item.number_unit}}</span>
              </div>
              <div class="product-info">
                <h3 class="product-name title-font">{{item.beerSubmitData.name}}</h3>
                <span class="product-unit">{{"Đơn Vị: "+item.beerSubmitData.listUnit[0].name}}</span>
              </div>
              <span class="unit-price total-price title-font"
                [textContent]="item.beerSubmitData.listUnit[0].price*item.number_unit*(100-item.beerSubmitData.listUnit[0].discount)/100 | moneyFormat"></span>
            </div>
          </li>
        </ul>
        <form action="">
          <div class="input-field voucher-input">
            <input spellcheck="false" autocapitalize="off" type="text" placeholder="Mã giảm giá" name="voucher"
              class="voucher" #voucher>
            <label for="">Mã giảm giá</label>
            <input type="button" value="Sử dụng" class="use-voucher" (click)="useVoucher(voucher.value)">
          </div>
        </form>
        <article>
          <div class="sum-price">
            <span>Tạm tính</span>
            <span>{{totalPrice | moneyFormat}}</span>
          </div>
          <div class="sum-price">
            <span>Phí ship</span>
            <span>{{shipPrice | moneyFormat}}</span>
          </div>
        </article>
        <div class="total-price">
          <span>Tổng cộng</span>
          <span>{{allPrice | moneyFormat}}</span>
        </div>
      </section>
    </div>
    <form class="payment-container">
      <h1 class="company-title">Hóa đơn</h1>
      <ul class="nav-path">
        <li class="li-active" routerLink="/cart">Giỏ hàng</li>
        <li>Thông tin giao hàng</li>
      </ul>
      <section class="user-input-container">
        <h2>Thông tin giao hàng</h2>
        <div class="input-field full-name">
          <input spellcheck="false" autocapitalize="off" type="text" placeholder="Họ và Tên" name="fullName"
            [(ngModel)]="fullName" required>
          <label for="">Họ và Tên</label>
        </div>
        <div class="input-field email">
          <input spellcheck="false" autocapitalize="off" type="email" placeholder="Email" name="email"
            [(ngModel)]="email">
          <label for="">Email</label>
        </div>
        <div class="input-field phone-num">
          <input spellcheck="false" autocapitalize="off" type="tel" placeholder="Số điện thoại" name="phone"
            [(ngModel)]="phone" required>
          <label for="">Số điện thoại</label>
        </div>
        <div class="input-field address">
          <input spellcheck="false" autocapitalize="off" type="text" placeholder="Địa chỉ" name="address"
            [(ngModel)]="address" required>
          <label for="">Địa chỉ</label>
        </div>
      </section>
      <section class="delivery-container">
        <div class="checkbox-container delivery-to">
          <label for="deliveryTo">
            <span>Giao tận nơi</span>
            <input type="radio" name="" id="deliveryTo" name="radio" checked (change)="changeShipProvider(true)">
            <div class="show-checked address-selection-container border-top">
              <div class="input-field region">
                <select name="" id="region" class="address-selection" onchange="this.dataset.chosen = this.value;"
                  (change)='changeRegion(region.value)' #region>
                  <option value="" selected>Chọn tỉnh / thành</option>
                  <option *ngFor="let item of myRegion;" [value]="item.id">{{item.name}}</option>
                </select>
                <label for="region">Tỉnh / Thành</label>
              </div>
              <div class="input-field district">
                <select name="" id="district" class="address-selection" onchange="this.dataset.chosen = this.value;"
                  (change)='changeDistrict(district.value)' #district>
                  <option value="" selected>Chọn quận / huyện</option>
                  <option *ngFor="let item of myDistrict;" [value]="item.id">{{item.name}}</option>
                </select>
                <label for="district">Quận / huyện</label>
              </div>
              <div class="input-field ward">
                <select name="" id="ward" class="address-selection" onchange="this.dataset.chosen = this.value;"
                  (change)='changeWard(ward.value)' #ward>
                  <option value="" selected>Chọn phường / xã</option>
                  <option *ngFor="let item of myWard;" [value]="item.id">{{item.name}}</option>
                </select>
                <label for="ward">Phường / huyện</label>
              </div>
            </div>
          </label>
        </div>
        <div class="checkbox-container get-from-shop border-top">
          <label for="getFromShop">
            <span>Nhận tại cửa hàng</span>
            <input type="radio" name="" id="getFromShop" name="radio" (change)="changeShipProvider(false)">
            <div class="show-checked border-top end-border">
              <label class="address-infomation" for="">Địa chỉ lấy hàng:
                <span class="sub-address">413 Lê Văn Quới, Bình Trị Đông A, Bình Tân, TPHCM</span>
              </label>
            </div>
          </label>
        </div>
      </section>
      <section class="flex-reverse">
        <a (click)="createOrderer()" class="create-order">Tiến hành đặt hàng</a>
        <a routerLink='/cart' class="back-to-cart">Giỏ hàng</a>
      </section>
    </form>
  </div>
  <ng-template #emptyCart>
    <img class="empty-cart" src="assets/img/empty-cart.png" alt="">
    <div class="back-shoping">
      <a [routerLink]="['/search','all']" class="center-div">
        <img src="assets/img/GoPreVious.png" class="back-to-shop" alt="">
        Tiếp Tục Mua Sắm
      </a>
    </div>
  </ng-template>
</div>
